// Events Archive

.tribe-events-notices {
    background-color: $white;
    border-color: $blue;   
}

.tribe-events-tooltip {
    padding: 10px;   
}

.single-tribe_events .tribe-events-single-event-title {
    font-size: rem-calc(36)!important;
    line-height: 1.23;
    margin: 0;
    padding: 0;
}