html, body {
	height: 100%;
    
    .site-content {
        background: #fff;   
    }
      
}

body {
   &:focus {
      outline: none!important;
   }
}

#wpadminbar {
    z-index: 999999;   
}


button:focus {
    outline: none;   
}


.site-content {
    padding-bottom: 45px;   
}

#primary section:last-child {
    //margin-bottom: 45px;   
}




// custom styles
.wave-top {
    position: relative;
    line-height: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 2.011096%;
    top: 2px;
    
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $blue;   
        display: block;
        z-index: 2;
    }

    svg {
        position: absolute;
        bottom: 0;
        left: 0; 
        z-index: 1;   
    }   
}

.wave-bottom {
    position: relative;
    line-height: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    svg {
        display: block;
    }   
}


.point,
.shape {

    line-height: 0;
    
    img {
        display: block;   
    }

}


.logo-mark {
    width: 116px; 
    height: 116px;  
    background-color: #fff;
}

.icon {
    border-radius: 50%;
    box-shadow: 0 11px 12px 0 rgba(0,0,0,0.12);
    position: relative;
    
    svg,
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        height: 60%;
    }
}



@mixin logo-mark() {
    position: relative;
    
    &::after {
        content: '';
        display: block;
        position: absolute;   
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        background-image: url("data:image/svg+xml,%3Csvg width='59' height='66' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M32.995.092v16.763H.077V.092h32.918z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M4.778 24a.776.776 0 0 1-.777-.763c-.008-.46-.075-11.354 10.614-18.58C23.29-1.203 32.598-.152 36.2.571l.107.021a.778.778 0 0 1 .157 1.512c-.202.065-.342.037-.571-.01-3.408-.685-12.218-1.682-20.404 3.851C5.52 12.682 5.555 23.107 5.557 23.21a.778.778 0 0 1-.766.79h-.013z' fill='%23f6f6f6'/%3E%3Cpath d='M9.779 24a.783.783 0 0 1-.774-.745c-.007-.113-.531-11.38 11.713-16.974 11.882-5.43 21.51.508 21.914.764.365.23.477.718.252 1.092a.763.763 0 0 1-1.066.26c-.092-.059-9.358-5.743-20.468-.666-11.234 5.133-10.82 15.011-10.795 15.428a.79.79 0 0 1-.73.84L9.779 24' fill='%23f6f6f6'/%3E%3Cpath d='M13.79 24h-.032a.782.782 0 0 1-.757-.805c.004-.101.513-10.136 10.448-13.961 9.75-3.754 18.825 2.231 19.208 2.487a.77.77 0 0 1 .205 1.079.799.799 0 0 1-1.096.202c-.087-.058-8.782-5.773-17.74-2.324-8.957 3.448-9.432 12.206-9.448 12.579a.783.783 0 0 1-.788.743' fill='%23f6f6f6'/%3E%3Cpath d='M18.788 24a.793.793 0 0 1-.782-.89c.034-.292.912-7.208 7.005-10.635 6.725-3.783 13.377.88 13.657 1.08.354.255.438.75.188 1.11a.78.78 0 0 1-1.096.192c-.061-.043-6.136-4.28-11.984-.99-5.377 3.025-6.2 9.368-6.208 9.432a.792.792 0 0 1-.78.701' fill='%23f6f6f6'/%3E%3Cpath d='M45.393 36c-2.552 0-5.444-.348-8.659-1.253-7.28-2.047-10.627-5.995-12.153-8.948-1.666-3.224-1.584-5.95-1.58-6.065.016-.42.405-.743.822-.734.437.016.779.368.763.787-.013.403-.176 9.908 12.593 13.496 12.995 3.654 20.435-2.374 20.51-2.435a.813.813 0 0 1 1.116.077.74.74 0 0 1-.079 1.075c-.251.21-4.931 3.998-13.333 4' fill='%23f6f6f6'/%3E%3Cg transform='translate(26 16)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M18.171 16.855c-2.615 0-5.479-.473-8.507-1.708C-2.664 10.117.407.707.44.614A.798.798 0 0 1 1.439.13c.414.132.64.56.504.958-.112.336-2.61 8.193 8.34 12.66 12.02 4.905 21.008-2.867 21.384-3.2a.817.817 0 0 1 1.118.042.74.74 0 0 1-.043 1.073c-.077.067-5.974 5.192-14.57 5.192' fill='%23f6f6f6' mask='url(%23b)'/%3E%3C/g%3E%3Cpath d='M44.845 31c-2.306 0-4.793-.439-7.378-1.422-3.51-1.335-5.818-3.357-6.86-6.005-1.409-3.59.067-6.962.13-7.104.183-.407.645-.583 1.035-.391.387.19.553.677.372 1.084-.013.029-1.248 2.891-.094 5.806.871 2.197 2.872 3.907 5.945 5.077 9.711 3.694 16.673-.906 18.516-5.353.17-.414.63-.603 1.022-.422.394.18.573.66.403 1.073-1.81 4.364-6.767 7.655-13.091 7.657' fill='%23f6f6f6'/%3E%3Cpath d='M37.558 21c-.494 0-.807-.03-.866-.035a.784.784 0 0 1-.688-.864.772.772 0 0 1 .84-.707c.084.007 6.469.57 9.323-4.578 2.92-5.267-.072-9.514-.101-9.557a.8.8 0 0 1 .158-1.103.754.754 0 0 1 1.074.163c.15.205 3.617 5.126.205 11.279C44.793 20.485 39.616 21 37.558 21' fill='%23f6f6f6'/%3E%3Cpath d='M39.788 24a.791.791 0 0 1-.783-.707.795.795 0 0 1 .697-.88c.062-.007 6.23-.733 9.457-4.138 3.5-3.69 1.884-9.19 1.867-9.246a.797.797 0 0 1 .524-.994.788.788 0 0 1 .986.528c.077.26 1.895 6.455-2.236 10.814-3.629 3.826-10.15 4.587-10.425 4.618a.94.94 0 0 1-.087.005' fill='%23f6f6f6'/%3E%3Cpath d='M42.767 27c-.393 0-.727-.317-.764-.738-.04-.448.27-.844.694-.886.048-.005 4.825-.513 8.437-3.571 4.004-3.39 3.294-7.658 3.263-7.837-.079-.442.194-.868.609-.953.414-.085.818.2.9.64.04.218.944 5.396-3.811 9.422-3.982 3.369-9.042 3.899-9.256 3.92a.601.601 0 0 1-.072.003M25.217 32a.782.782 0 0 1-.61-.288c-.039-.05-4.202-5.002-12.013-5.154-7.492-.147-11.16 4.324-11.196 4.369a.785.785 0 0 1-1.1.128.772.772 0 0 1-.129-1.092c.167-.21 4.186-5.092 12.455-4.96 8.568.167 13.016 5.503 13.201 5.73A.775.775 0 0 1 25.217 32' fill='%23f6f6f6'/%3E%3Cpath d='M1.78 36a.738.738 0 0 1-.395-.113.85.85 0 0 1-.278-1.125C1.237 34.527 4.384 29 11.773 29c7.03 0 9.956 4.118 10.077 4.294a.853.853 0 0 1-.171 1.15.756.756 0 0 1-1.09-.18c-.102-.145-2.623-3.616-8.816-3.616-6.466 0-9.206 4.746-9.32 4.947A.771.771 0 0 1 1.78 36' fill='%23f6f6f6'/%3E%3Cpath d='M7.778 36a.77.77 0 0 1-.473-.163.79.79 0 0 1-.147-1.098c1.526-2.027 6.1-4.736 12.49-.497.36.24.46.727.224 1.09a.774.774 0 0 1-1.078.227c-6.742-4.474-10.253-.053-10.399.135a.773.773 0 0 1-.617.306M40.166 66a.784.784 0 0 1-.629-.31c-1.973-2.595-2.672-4.99-2.672-9.151 0-8.303 5.797-13.02 8.077-14.554l-.578-.542c-6.107 2.127-11.6 9.503-11.657 9.58a.787.787 0 0 1-1.413-.35l-1.477-10.5h-1.252l-.45 6.771a.778.778 0 0 1-.637.712.792.792 0 0 1-.857-.43c-.014-.03-1.569-3.176-5.036-4.887-1.908-.942-4.014-2.114-4.925-2.631l-.58.447c7.855 5.87 9.385 10.067 9.627 16.51.249 6.639-3.038 8.88-3.178 8.972a.79.79 0 0 1-1.09-.214.772.772 0 0 1 .219-1.077c.103-.072 2.693-1.92 2.48-7.625-.237-6.282-1.71-10.07-9.816-15.922a.771.771 0 0 1-.02-1.24l1.807-1.394a.792.792 0 0 1 .88-.059c.028.015 2.837 1.63 5.298 2.846 2.039 1.005 3.482 2.42 4.414 3.577l.344-5.185a.78.78 0 0 1 .784-.723h2.672c.392 0 .724.285.778.668l1.319 9.369c2.07-2.455 6.65-7.285 11.735-8.84a.801.801 0 0 1 .775.18l1.65 1.55a.77.77 0 0 1-.163 1.24c-.08.046-8.159 4.569-8.159 13.75 0 3.828.596 5.901 2.358 8.221a.77.77 0 0 1-.157 1.086.794.794 0 0 1-.471.155' fill='%23f6f6f6'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;  
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: -1;
    }
}



.page-error-404 {
    .entry-content {
        text-align: center;   
    }
}