// Page Builder

.page-template-page-builder {
    
    .site-content {
        padding-bottom: 0;    
    }
    
    .site-main {
        
        .section-content {
            
            .entry-content {
                h3 {
                    margin-bottom: rem-calc(20);   
                }
            }
            
            @include breakpoint(large) {
        
                .column-block {
                    //margin-bottom: rem-calc(55);   
                }
                
                .large-order-1 .element-photo {
                    padding-right: rem-calc(map-get($grid-column-gutter, large)); 
                }
                
                .large-order-2  .element-photo {
                    padding-left: rem-calc(map-get($grid-column-gutter, large)); 
                }
                
            }     
        }
        
        section:nth-child(even) {
            
            margin-top: 0;
            
            .wrap {
                background-color: $light-gray;
                padding: rem-calc(45 0 0);   
            }
            
            
        }
        
        
    }

}