// Fonts

@font-face {
    font-family: 'truenolight';
    src: url('assets/fonts/trueno/truenolt-webfont.woff2') format('woff2'),
         url('assets/fonts/trueno/truenolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'truenoregular';
    src: url('assets/fonts/trueno/truenorg-webfont.woff2') format('woff2'),
         url('assets/fonts/trueno/truenorg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'truenosemibold';
    src: url('truenosbd-webfont.woff2') format('woff2'),
         url('truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'truenobold';
    src: url('assets/fonts/trueno/truenobd-webfont.woff2') format('woff2'),
         url('assets/fonts/trueno/truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'truenoextrabold';
    src: url('assets/fonts/trueno/truenoexbd-webfont.woff2') format('woff2'),
         url('assets/fonts/trueno/truenoexbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'truenoblack';
    src: url('assets/fonts/trueno/truenoblk-webfont.woff2') format('woff2'),
         url('assets/fonts/trueno/truenoblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

