// Before Header

.before-footer {
    background-color: $blue;
        
    .widget-title {
        color: #FFFFFF;
        font-size: 20px;
        letter-spacing: 1.08px;
        line-height: 24px;
        margin: 0;
        padding: 13px 0 0 0;
        text-transform: none;
        
        @include breakpoint(xxlarge) {
            padding: 13px 0;
            width: 60%;
        }
    }
    
    .gform_widget {
        @include breakpoint(xxlarge) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;            
       }
    }
    
    .gf_simple_horizontal {
        
        width: 100%!important;
                 
        @include breakpoint(xxlarge) {
            width: 40%;
        }
        
        @include breakpoint(xxxlarge) {
            width: 100%!important;
            margin: 0 auto;
        }
        
        
    }
    
    .gf_simple_horizontal div.gform_body ul.top_label li.gfield {
        padding-right: 0!important;
    }
    
    .gform_wrapper {
        margin: 0!important;  
        flex: 1; 
    }
    
    .gfield_description.validation_message {
        @include screen-reader-text;
    }
        
    .gform_body {
        
        input {
            margin-top: 0!important;   
            height: 42px;
            border: none!important;
        }
    }
    
    @include breakpoint(medium) {
        
        form {
            display: table; 
            
            > * {
                max-width: none!important;   
            }
        }
        
        .gform_body {
            width: 100%!important;   
            padding: 13px 0!important;
        }
        
        .gform_body,
        .gform_footer {
            vertical-align: top!important;  
            padding: 13px 0!important; 
                        
            @include breakpoint(large) {
                padding: 13px 0!important;
            }
            
            
        }
    }
    
        .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
    .gform_wrapper li.gfield_error textarea {
        border: none!important;
    }
        
    .gform_footer {
         margin: 0!important;   
         line-height: 1;
         
         .button {
            width: auto!important;
            min-width: 142px!important;  
            margin: 0!important; 
            background-color: $blue!important;
            height: 42px!important;
            color: #FFFFFF;
            font-size: 20px!important;
            letter-spacing: 1.08px;
            line-height: 40px!important;
            text-align: center;
            padding: 0!important;
            border: none!important;
            
            &:hover {
                background-color: $light-blue!important;
            }
         }
    }

}