.reveal-overlay {
    
}

#modal-search.reveal {
    background: rgba($dark-gray, .8);
    padding: 0;
    top: 0!important;  
    
    .row {
        height: 100vh;   
    }
    
    .search-form {
        text-align: center;
        
        .search-field {
            padding: 20px 10px;
            border: none;
            background-color: rgba(#fff,.8);
            width: 100%;
            
            @include breakpoint(large) {
                
                padding: 30px 40px;
                max-width: 600px;
                
                &::placeholder {
                    font-size: 26px;   
                }
            }
        }
    }
}