// Editor

.element-editor {
    
    h4 {
        color: $dark-gray;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        margin-bottom: $global-margin;
    }
}
