//  Settings (includes overrides for sass/foundation/settings.scss)
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Off Canvas Menu

@import '../../../node_modules/foundation-sites/scss/util/util';

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1264);
$global-lineheight: 1.5;

$black: #000;
$white: #ffffff;

$blue: #3287C4;
$light-blue: scale-color($blue, $lightness: 20%);
$dark-blue: #22587a;
$blue-alt: #3C74C3;
$green: #AAC687;
$dark-green: scale-color($green, $lightness: -20%);
$maroon: #85213F;
$purple: #226493;

$light-gray: #f5f5f5;
$gray: #4A4A4A;
$dark-gray: #252B33;

$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif; 

$transition: ease all 0.3s;

$body-background: #FFF;
$body-font-color: $gray;
$body-font-family: $open-sans;


$global-margin: rem-calc(22);
$global-padding: rem-calc(10);
$global-weight-normal: normal;
$global-weight-bold: 700;
$global-radius: 0;
$global-text-direction: ltr;


// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640,
  large: 980,
  xlarge: 1024,
  xxlarge: 1200,
  xxxlarge: 1440
);
// must match $breakpoints
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge);


// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12; // usually 12
$grid-column-gutter: (
  small: 40,
  medium: 40,
  large: 30
);
$grid-column-align-edge: true;
$block-grid-max: 8;


// 4. Base Typography
// ---------

$header-font-family: $lato;
$header-font-weight: 400;
$header-font-style: normal;

/// Styles for headings at various screen sizes. Each key is a breakpoint, and each value is a map of heading styles.
/// @type Map
$header-styles: (
  small: (
    'h1': ('font-size': 36, 'line-height': 1.23 ),
    'h2': ('font-size': 30, 'line-height': 1.23),
    'h3': ('font-size': 22, 'line-height': 1.46 ),
    'h4': ('font-size': 18, 'line-height': 1.6 ),
    'h5': ('font-size': 16, 'line-height': 1.6),
    'h6': ('font-size': 15, 'line-height': 1.6),
  ),
) !default;

$header-color: $dark-gray;
$header-lineheight: 1.23;
$header-margin-bottom: rem-calc(30);
$small-font-size: 14px;
$header-small-font-color: $dark-gray;

$paragraph-font-family: $open-sans;
$paragraph-font-style: normal;
$paragraph-font-weight: normal;
$paragraph-font-size: 14px;
$paragraph-line-height: 1.57;
$paragraph-font-color: $gray;
$paragraph-margin-bottom: 22px;

$anchor-color: $blue;
$anchor-color-hover: scale-color($blue, $lightness: -20%);


$accordion-item-background-hover: #fff;
$accordion-content-background: #fff;
$accordion-content-border: 1px solid #D7D5D5;

$tab-background: #ffffff;
$tab-content-background: transparent;
$tab-background-active: #ffffff;
$tab-item-font-size: 16px;
$tab-item-padding: 20px;
$tab-content-padding: 20px;